@media all {
    .body_PHaoPk {
        /*background-image:;*/
    }

    .section_WVce9B {
        background-image: url(http://qty83k.creatby.com/materials/origin/9869641de905bffde7e8a024585dbaec_origin.jpg);
        background-size: cover;
        background-position: 50% 0%;
        position: relative;
    }

    .div_WGJ9Tb {
        border-style: none;
        border-bottom-color: transparent;
        border-width: 999px 300px 0px 400px;
        border-right-color: transparent;
        border-top-color: rgba(231, 76, 60, 0.8);
        width: 50%;
        padding-top: 15%;
        height: 100%;
        position: absolute;
        background-color: rgba(231, 76, 60, 0.8);
    }

    .heading_UQmBKx {
        color: rgb(255, 255, 255);
        bottom: 0px;
        right: 0px;
        top: 61px;
        left: 0px;
        text-align: center;
        margin-top: 5%;
        font-size: 48px;
    }

    .div_wQsvIj {
        width: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 20%;
        left: 0px;
        margin-left: auto;
        margin-right: 0px;
        text-align: center;
    }

    .div_bJVaaK {
        display: inline-block;
        position: relative;
        margin-right: 20%;
    }

    .image_BM1Mef {
        max-width: 100%;
    }

    .icon_WBK4GF {
        font-size: 20px;
        color: rgb(255, 255, 255);
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 60%;
        left: 20%;
    }

    .icon_WBK4GF.c-state1 {
        color: #e74c3c;
    }

    .icon_WBK4GF.dian4 {
        left: 50%;
        top: 80%;
    }

    .icon_WBK4GF.dian3 {
        top: 20%;
        left: 30%;
    }

    .icon_WBK4GF.dian1 {
        top: 40%;
        left: 70%;
    }

    .container_DZuT3o {
        width: 50%;
        margin-left: 0px;
        margin-right: auto;
        padding: 0% 0px 3%;
        position: static;
        margin-top: 5%;
    }

    .div_Ijyd2b {
        margin-bottom: 50px;
        text-align: center;
        margin-right: -50px;
        float: right;
        width: 100%;
        position: relative;
        /*margin-left:;*/
    }

    .icon_CwAKin {
        font-size: 50px;
        width: 100px;
        height: 100px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 200px;
        line-height: 1.8em;
        color: #e74c3c;
        float: right;
        background-color: rgb(255, 255, 255);
    }

    .icon_CwAKin.dd1 {
        margin-left: 150px;
    }

    .div_lRrBEQ {
        margin-right: 20px;
        width: 70%;
        float: right;
    }

    .heading_XLExuF {
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-align: right;
        margin-top: 10px;
        /*margin-right:;*/
    }

    .paragraph_FzzDWb {
        color: rgb(255, 255, 255);
        text-align: right;
        font-size: 14px;
        line-height: 1.5em;
    }

    .row_SdR4eB {
        padding-top: 10px;
        padding-bottom: 0px;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: rgba(79, 79, 79, 1);
    }

    .column_tj5Gkf {
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 10px;
        height: auto;
        background-color: transparent;
    }

    .div_QPxbPM {
        position: relative;
        min-height: 180px;
        border: 1px solid rgb(217, 217, 217);
        height: 180px;
        background-image: url(http://qty83k.creatby.com/materials/origin/45e70acac7b4ae53cd32089fc55a948b_origin.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .div_tHQbx7 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        opacity: 0;
        transform: rotate(0deg) scale(1) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.470588);
        height: 100%;
    }

    .div_JIUwyd {
        height: 50%;
        min-height: 0px;
    }

    .linkblock_Fg92ip {
        min-height: 0px;
        min-width: 0px;
        margin-top: -20px;
    }

    .image_mTNQ9l {
        width: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*margin-top:;*/
    }

    .textlink_moQa9p {
        font-size: 17px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        margin-top: 10px;
        margin-bottom: 5px;
        display: block;
    }

    .paragraph_dZgfrz {
        color: rgb(130, 130, 130);
        text-align: justify;
    }

    .column_xJxG1j {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .div_tr3gNT {
        position: relative;
        display: inline-block;
    }

    .image_ORJkt0 {
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transition: All 0.5s ease;
        transition: All 0.5s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -ms-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;
        -moz-transition: All 0.5s ease;
    }

    .image_ORJkt0.c-state1 {
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .div_MXqvCB {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        transform: rotate(0deg) scale(0.1) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(0.1) translate(0%, 0%);
        -webkit-transition: All 0.8s ease;
        transition: All 0.8s ease;
        opacity: 0;
        border-radius: 0px;
        background-color: transparent;
        -ms-transform: rotate(0deg) scale(0.1) translate(0%, 0%);
        -o-transform: rotate(0deg) scale(0.1) translate(0%, 0%);
        -moz-transform: rotate(0deg) scale(0.1) translate(0%, 0%);
        -ms-transition: All 0.8s ease;
        -o-transition: All 0.8s ease;
        -moz-transition: All 0.8s ease;
    }

    .div_MXqvCB.c-state1 {
        transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 0px;
        opacity: 1;
        background-color: rgba(231, 76, 60, 0.6);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .div_WqbZv7 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 30%;
        left: 0px;
    }

    .heading_knJvtB {
        color: rgb(255, 255, 255);
        bottom: 0px;
        right: 0px;
        top: 40%;
        left: 0px;
        text-align: center;
    }

    .div_eFBOPz {
        min-height: 20px;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        border-top-style: solid;
        border-top-color: rgb(255, 255, 255);
        border-top-width: 2px;
    }

    .paragraph_fbwtrr {
        color: rgb(255, 255, 255);
        font-size: 15px;
        letter-spacing: 1px;
        text-align: center;
    }

    .column_SCbS4j {
        padding-left: 0px;
        padding-right: 0px;
    }

    .column_0NQjXR {
        padding-left: 0px;
        padding-right: 0px;
    }

    .column_oMp0ug {
        padding-left: 0px;
        padding-right: 0px;
    }

    .section_sx2YWz {
        background-color: rgba(45, 48, 53, 1);
    }

    .image_XDMQI0 {
        width: 320px;
        margin: 36px auto 34px;
        display: block;
    }

    .column_ksM7Ff {
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .image_b6iLgt {
        transform: rotate(0deg) scale(1) translate(0%, 0%);
        -ms-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -o-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -moz-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
        transition: All 1s ease;
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -webkit-transition: All 1s ease;
    }

    .column_jCiDmi {
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .section_fb2pbs {
        /*padding-bottom:;*/
        position: relative;
        background-image: url(http://qty83k.creatby.com/materials/origin/323deb62e4bb5c1768331e7494791f95_origin.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    .div_1O2gxH {
        width: 50%;
        margin-left: auto;
        margin-right: 0px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        border-left-style: none;
        border-left-color: transparent;
        border-left-width: 200px;
        border-right-style: none;
        border-right-color: rgb(130, 62, 62);
        border-right-width: 500px;
        border-bottom-style: none;
        border-bottom-color: rgba(231, 76, 60, 0.701961);
        border-bottom-width: 999px;
        height: 100%;
        background-color: rgba(231, 76, 60, 0.7);
    }

    .container_O7xPSe {
        margin-left: auto;
        margin-right: 0px;
        width: 50%;
        position: relative;
        padding-bottom: 1%;
        border-left-style: none;
        border-left-color: transparent;
        border-left-width: 200px;
        border-bottom-style: none;
        border-bottom-color: rgb(133, 88, 88);
        border-bottom-width: 999px;
        text-align: right;
    }

    .div_yt9TSm {
        margin-top: 127px;
    }

    .heading_IofCsr {
        margin-top: 0px;
        color: rgb(255, 255, 255);
        font-size: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .div_oqYmVs {
        margin-top: 6%;
        margin-left: 20px;
    }

    .icon_L2ZKVc {
        font-size: 30px;
        color: #ffffff;
    }

    .paragraph_Lqz7nA {
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 18px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .paragraph_8Ww9OP {
        color: #e6e6e6;
        font-size: 15px;
        line-height: 1.4em;
        letter-spacing: 1px;
        width: 80%;
        max-width: 500px;
        font-weight: lighter;
    }

    .div_TTq2NW {
        text-align: left;
    }

    .div_5Oodtz {
        text-align: right;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;
    }

    .div_YEIZhP {
        margin: auto auto 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        margin-left: auto;
        margin-right: 0;
    }

    .div_MYOYN1 {
        min-height: 40px;
    }

    .icon_WBK4GF:hover {
        color: #e74c3c;
        bottom: 0px;
        right: 0px;
        top: 20%;
        left: 30%;
        width: 30px;
        height: 30px;
    }

    .icon_WBK4GF.dian2:hover {
        top: 60%;
        left: 20%;
    }

    .icon_CwAKin:hover {
        color: #ffffff;
        background-color: rgb(231, 76, 60);
    }

    .row_SdR4eB:hover {
        opacity: 1;
    }

    .column_tj5Gkf:hover {
        opacity: 1;
    }

    .div_QPxbPM:hover {
        opacity: 1;
    }

    .div_tHQbx7:hover {
        opacity: 1;
    }

    .image_mTNQ9l:hover {
        opacity: 1;
    }

    .textlink_moQa9p:hover {
        text-decoration: none;
    }

    .paragraph_dZgfrz:hover {
        opacity: 1;
    }

    .image_b6iLgt:hover {
        transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -webkit-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        opacity: 1;
        -ms-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -o-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -moz-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
    }

    .image_b6iLgt:hover {
        transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -webkit-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        opacity: 1;
        -ms-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -o-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -moz-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
    }

    .image_b6iLgt:hover {
        transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -webkit-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        opacity: 1;
        -ms-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -o-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -moz-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
    }

    .image_b6iLgt:hover {
        transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -webkit-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        opacity: 1;
        -ms-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -o-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -moz-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
    }

    .image_b6iLgt:hover {
        transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -webkit-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        opacity: 1;
        -ms-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -o-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -moz-transform: rotate(12deg) scale(1.2) translate(0%, 0%);
        -ms-transition: All 1s ease;
        -o-transition: All 1s ease;
        -moz-transition: All 1s ease;
    }
}

@media (max-width: 991px) {
    .div_WGJ9Tb {
        width: 70%;
    }

    .container_DZuT3o {
        width: 70%;
    }

    .div_Ijyd2b {
        /*width:;*/
    }

    .div_lRrBEQ {
        width: 70%;
    }

    .linkblock_Fg92ip {
        margin-top: -20px;
        margin-bottom: auto;
    }

    .div_MXqvCB {
        opacity: 0;
        transform: rotate(0deg) scale(0) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(0) translate(0%, 0%);
        -webkit-transition: All 0.8s ease;
        transition: All 0.8s ease;
        -ms-transform: rotate(0deg) scale(0) translate(0%, 0%);
        -o-transform: rotate(0deg) scale(0) translate(0%, 0%);
        -moz-transform: rotate(0deg) scale(0) translate(0%, 0%);
        -ms-transition: All 0.8s ease;
        -o-transition: All 0.8s ease;
        -moz-transition: All 0.8s ease;
    }

    .div_MXqvCB.c-state1 {
        opacity: 1;
        transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        transition: All 0.8s ease;
        -webkit-transition: All 0.8s ease;
        -ms-transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -o-transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -moz-transform: rotate(0deg) scale(0.9) translate(0%, 0%);
        -ms-transition: All 0.8s ease;
        -o-transition: All 0.8s ease;
        -moz-transition: All 0.8s ease;
    }

    .div_WqbZv7 {
        top: 12%;
        opacity: 1;
        transform: rotate(0deg) scale(1) translate(0%, 0%);
        -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -webkit-transition: All 0s ease;
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -o-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -moz-transform: rotate(0deg) scale(1) translate(0%, 0%);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
    }

    .heading_knJvtB {
        font-size: 23px;
    }

    .paragraph_fbwtrr {
        font-size: 13px;
    }

    .section_fb2pbs {
        background-position: 30% 50%;
        background-position-x: 29%;
        background-position-y: 50%;
    }

    .div_1O2gxH {
        width: 60%;
    }

    .container_O7xPSe {
        width: 60%;
    }

    .div_yt9TSm {
        margin-top: 100px;
    }

    .div_oqYmVs {
        margin-top: 10%;
    }

    .paragraph_Lqz7nA {
        margin-bottom: 15px;
    }

    .paragraph_8Ww9OP {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .div_WGJ9Tb {
        width: 80%;
    }

    .heading_UQmBKx {
        font-size: 40px;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .container_DZuT3o {
        width: 100%;
        margin-left: -20%;
    }

    .div_lRrBEQ {
        width: 56%;
    }

    .linkblock_Fg92ip {
        margin-top: -20px;
    }

    .section_sx2YWz {
        margin-top: 0px;
    }

    .image_XDMQI0 {
        width: 280px;
    }

    .textarea_FrTp36 {
        width: 100%;
    }

    .textarea_FrTp36 {
        width: 100%;
    }

    .textarea_FrTp36 {
        width: 100%;
    }

    .textarea_FrTp36 {
        width: 100%;
    }

    .div_1O2gxH {
        width: 80%;
    }

    .container_O7xPSe {
        width: 80%;
    }

    .div_yt9TSm {
        margin-top: 20%;
        min-height: 20px;
    }

    .heading_IofCsr {
        margin-left: 10px;
        font-size: 40px;
        text-align: left;
    }

    .div_oqYmVs {
        margin-left: 10px;
    }

    .paragraph_Lqz7nA {
        margin-left: 15px;
    }

    .paragraph_8Ww9OP {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.main_box {
    background:url(../asset/images/1.png);
    border-radius: 10px;
}
.main_box .setting {position: absolute; top: 5px; right: 10px; width: 10px; height: 10px;}
.main_box .setting a {color: #FF6600;}
.main_box .setting a:hover {color: #555;}
.login_logo {margin-bottom: 20px; height: 45px; text-align: center;}
.login_logo img {height: 45px;}
.login_msg {text-align: center; font-size: 16px;}
.login_form {padding-top: 20px; font-size: 16px;}
.login_box .form-control {display: inline-block; *display: inline; zoom: 1; width: auto; font-size: 18px;}
.login_box .form-control.x319 {width: 319px;}
.login_box .form-control.x164 {width: 164px;}
.login_box .form-group {margin-bottom: 20px;}
.login_box .form-group label.t {width: 120px; text-align: right; cursor: pointer;}
.login_box .form-group.space {padding-top: 15px; border-top: 1px #FFF dotted;}
.login_box .form-group img {margin-top: 1px; height: 32px; vertical-align: top;}
.login_box .m {cursor: pointer;}
.bottom {text-align: center; font-size: 12px;}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }